<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/page2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Merriweather&family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
</head>
<body> 
  <%- include('../partials/header2') %>
  <h1 class="heading"><span>CHOOSE YOUR BRANCH</span></h1>
    
  <div class="branches">
    <div class="branch">
      <img class="branch-image" src="images/cs.jpeg" alt="CS">
      <a href="/branch/cs"><button class="branch-button" type="submit">COMPUTER SCIENCE</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/AI.jpeg" alt="AI&DS">
      <a href="/branch/AI"><button class="branch-button" type="submit">ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/mathematics.jpeg" alt="M&C">
      <a href="/branch/MNC"><button class="branch-button" type="submit">MATHEMATICS AND COMPUTING</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/Electrical.jpeg" alt="EEE">
      <a href="/branch/electrical"><button class="branch-button" type="submit">ELECTRICAL ENGINEERING</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/mechanical.jpeg" alt="ME">
      <a href="/branch/mechanical"><button class="branch-button" type="submit">MECHANICAL ENGINEERING</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/chemical.jpeg" alt="CBE">
      <a href="/branch/chemical"><button class="branch-button" type="submit">CHEMICAL ENGINEERING</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/civil.jpeg" alt="CE">
      <a href="/branch/civil"><button class="branch-button" type="submit">CIVIL ENGINEERING</button></a>
    </div>
    <div class="branch">
      <img class="branch-image" src="images/matellurgy.jpeg" alt="MME">
      <a href="/branch/metallurgy"><button class="branch-button" type="submit">METALLURGY AND MATERIAL SCIENCE</button></a>
    </div>
  </div>
  
  
</body>
</html>
