<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Page-Sage</title>
    <link rel="icon" href="https://i.postimg.cc/br1H7MKF/favicon-2.png"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Merriweather&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
   
    
    <!-- Header footer -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/header.css"></link>
    <link rel="stylesheet" href="CSS/footer.css"></link>
    <!---->
</head>
        <body>
            <div class="section1">

                <%- include('../partials/header') -%>

                <div class="title">
                    <div class="title2">
                        <div class="title1">
                            <h3 style="margin-bottom: 0; font-size: 230%">Welcome To</h3>
                        </div>
                        <h1 style="margin-top: 0; padding-top: 20%; font-size: 818%">PAGESAGE</h1>
                    </div>
                </div>
            </div>
            
            <div class="section2">
                <h1 class="head">WELCOME TO OUR COLLEGE LIBRARY</h1>
    <p class="line">Step into the realm of knowledge at our college library, where the shelves overflow with the intellectual bounty of academia. Here, students and scholars gather to unlock the secrets of the written word, delving into a vast collection of college books that illuminate the path to higher learning.</p>
    <p class="line">As you peruse the meticulously curated selection, you'll discover textbooks that lay the foundation of knowledge, paving the way for academic excellence. From mathematics to history, biology to literature, our college library is a hub of intellectual growth, catering to a diverse range of disciplines and fields of study.</p>
   
    <p class="line">Whether you seek to unravel complex equations, uncover the mysteries of the past, or delve into the realms of literary analysis, our college library provides the tools for intellectual exploration. The boundless knowledge contained within these walls serves as a stepping stone towards academic achievement, fostering a community of curious minds eager to expand their horizons.</p>
    <p class="line">Join us in the pursuit of wisdom and discovery. Let the pages of our college books guide you on a transformative journey of learning and personal growth. Within these hallowed halls of knowledge, the world of academia comes alive, offering endless opportunities for intellectual exploration and scholarly enlightenment.</p>
  </div>   
            </div>
           
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script src="JS/header.js"></script>
            </body>