<div class="Header">
    <a href="" class="logo"><img src="../logo-removebg-preview.png" height=100px></img> <h1>   PAGESAGE</h1></a>
    <div class="hdrght" id="myTopnav">
       
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#home"><button type="submit" name="header" value="1">HOME</button></a>
            <a href="#section2"><button type="submit" name="header" value="2">ABOUT</button></a>
            <a href="/login"><button type="submit" name="header" value="3">LOGIN </button></a>
            <a href="/register"><button type="submit" name="header" value="3">SIGN UP</button></a>
            <a href="javascript:void(0);" class="icon" onclick="openNav()">
            <i class="fa fa-bars"></i>
            </a>
        </form>
 </div>
</div>